In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
import pickle
import sys

sys.path.append("../src")

import pandas as pd
from scraper import SalaryByCompany, SalaryByState

## Companies by Industry

In [3]:
file = Path("../data/salary/by_companies/20221123-032958.pickle")

with file.open(mode="rb") as f:
    salaries = pickle.load(f)
df = pd.DataFrame(salaries)

In [4]:
df.dropna(subset=["salary"]).head()

,company,url,industry,salary,hourly_rate,bonus,rating,time_added
10,Aaron's,https://www.payscale.com/research/US/Employer=...,Real Estate & Rental/Leasing,73000.0,13.2,3000.0,3.3,2022-11-23 02:18:12.582726
11,"Aaron's Rent, Inc.",https://www.payscale.com/research/US/Employer=...,Real Estate & Rental/Leasing,61000.0,13.1,4000.0,2.8,2022-11-23 02:18:14.920490
23,"Aggreko, LLC",https://www.payscale.com/research/US/Employer=...,Real Estate & Rental/Leasing,84000.0,22.1,12000.0,NaN,2022-11-23 02:18:42.163383
25,"Ahern Rentals, Inc.",https://www.payscale.com/research/US/Employer=...,Real Estate & Rental/Leasing,63000.0,20.7,4000.0,4.0,2022-11-23 02:18:45.840609
32,Alban Tractor Co. Inc,https://www.payscale.com/research/US/Employer=...,Real Estate & Rental/Leasing,68000.0,23.4,9000.0,3.5,2022-11-23 02:19:06.743897

## States

In [5]:
file = Path("../data/salary/by_states/20221124-112104.pickle")

with file.open(mode="rb") as f:
    salaries = pickle.load(f)
df = pd.DataFrame(salaries)

In [6]:
df.head()

,state,url,date_added,salary,hourly_rate
0,Delaware,https://www.payscale.com/research/US/State=Del...,2022-11-24 11:20:54.852602,69000.0,18.09
1,Arkansas,https://www.payscale.com/research/US/State=Ark...,2022-11-24 11:20:54.847279,59000.0,15.87
2,Colorado,https://www.payscale.com/research/US/State=Col...,2022-11-24 11:20:54.850024,72000.0,20.15
3,Hawaii,https://www.payscale.com/research/US/State=Haw...,2022-11-24 11:20:54.856851,69000.0,20.19
4,Florida,https://www.payscale.com/research/US/State=Flo...,2022-11-24 11:20:54.853597,65000.0,17.55